<h2>Home</h2>

<p>Try to play with controls (buttons and inputs) and navigate through sections &mdash; you'll notice how they don't
    lose their state.

    It happens due to the fact that view segments are updated only when the corresponding route segments are changed,
    and not on every location change.</p>

<p>Also, check the data resolving features and how they are handled in asynchronous manner.</p>

<p>
    The source code is located at <a href="https://github.com/artch/angular-route-segment/tree/master/example">
    https://github.com/artch/angular-route-segment/tree/master/example</a>.
    <br>Feel free to browse and learn the page sources here.
</p>