<div class="span12" ng-controller="Section2Ctrl">
    
    <h2>Section 2</h2> 
    
    <p>You typed: <span class="label">{{test.textValue}}</span></p>
    
    <div class="well">
        <ul class="nav nav-pills">
            
            <li ng-repeat="i in items"
                ng-class="{active: ('id' | routeSegmentParam) == i}">
                
                <a ng-href="#{{ 's2.itemInfo' | routeSegmentUrl: {id: i} }}">Item {{i}}</a>
                
            </li>        
        </ul>
        
        <div app-view-segment="1" class="anim">No item selected.</div>
    </div>
    
    Type something:<br>
    <textarea rows=5 style="width: 500px" ng-model="test.textValue"></textarea>  
    
</div>