<div ng-controller="Section1Ctrl">
    <div class="span3">
        <div class="well">
            <ul class="nav nav-list">
            
                <li ng-class="{active: ('s1.home' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1' | routeSegmentUrl }}">Home</a>
                </li>
                
                <li class="nav-header">Items</li>
                
                <li ng-repeat="i in items" 
                    ng-class="{active: ('s1.itemInfo' | routeSegmentStartsWith) && ('id' | routeSegmentParam) == i}">
                    <a ng-href="#{{ 's1.itemInfo' | routeSegmentUrl: {id: i} }}">Item {{i}}</a>
                </li>
                
                <li ng-class="{active: ('s1.prefs' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.prefs' | routeSegmentUrl }}">Preferences</a>
                </li>
                
                <li class="nav-header">Error handling</li>
                
                <li ng-class="{active: ('s1.invalidTemplate' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.invalidTemplate' | routeSegmentUrl }}">Invalid template file</a>
                </li>

                <li ng-class="{active: ('s1.invalidData' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.invalidData' | routeSegmentUrl }}">Invalid resolve data</a>
                </li>

                <li class="nav-header">Slow data resolving</li>

                <li ng-class="{active: ('s1.slowDataSimple' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.slowDataSimple' | routeSegmentUrl }}">Without `untilResolved`</a>
                </li>

                <li ng-class="{active: ('s1.slowDataLoading' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.slowDataLoading' | routeSegmentUrl }}">With `untilResolved`</a>
                </li>

                <li ng-class="{active: ('s1.inlineParent' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.inlineParent' | routeSegmentUrl }}">Inline view</a>
                </li>
                
                <li class="divider"></li>
                
                <li>
                    <button class="btn" ng-class="{active: test.btnClicked}" ng-click="test.btnClicked = !test.btnClicked">Click me!</button>
                    <span class="label" ng-show="test.btnClicked">Clicked</span>
                </li>
                
            </ul>
        </div>
        
        
        
    </div>
    
    <div class="span9 anim" app-view-segment="1"></div>
</div>
